<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">JOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jobrequest">Job Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/agent">Agent Jobs</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <div *ngIf="!authorizationService.isUserLoggedIn()"><button  class="btn btn-sm btn-outline-secondary" type="button" routerLink="/login">Login</button></div>
    <div *ngIf="authorizationService.isUserLoggedIn()"><button  class="btn btn-sm btn-outline-secondary" type="button" (click)="logOut()">Logout</button></div>
  </form>
</nav>
<div class="container" style="padding-top: 55px;">
  <router-outlet></router-outlet>
</div>
